# App
NODE_ENV=development
PORT=3000

# Public base URL (optional, useful for links)
PUBLIC_BASE_URL=http://localhost:3000

# CORS
CORS_ORIGIN=http://localhost:4200

# Database
DATABASE_URL=postgresql://theindex:theindex@localhost:5432/theindex
DB_HOST=localhost
DB_PORT=5432
DB_USER=theindex
DB_PASS=theindex
DB_NAME=theindex
DB_SYNC=true

# Logging
LOG_LEVEL=debug
